<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MailKit" version="1.2.15" targetFramework="net45" />
  <package id="MimeKit" version="1.2.17.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="SuperWebSocketNETServer" version="0.8" targetFramework="net45" />
  <package id="websocket-sharp.clone" version="2.0.0" targetFramework="net45" />
</packages>